/* General navbar styling */
.navbar-container {
    position: fixed;
    width: 100%;
    background-color: #3b5d50;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    box-sizing: border-box;
}

/* Logo styling */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Navigation links styling */
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Search bar styling */
.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    max-width: 300px;
    width: 70%;
    padding: 1px 5px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-left: 10px;
}

.search-bar input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

.sIcondiv {
    padding: 8px;
    cursor: pointer;
}

.sIcon {
    color: #333;
    font-size: 20px;
}

/* Cart icon styling */
.cart-icon {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    box-sizing: border-box;
}

.cart-icon .cIcon {
    font-size: 24px;
}

.cart-quantity {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.LINK {
    text-decoration: none;
    color: inherit;
}

.cDiv {
    display: flex;
    align-items: center;
}

/* Hide mobile nav by default */
.mobile-nav {
    display: none;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        padding: 30px;
    }

    .logo {
        flex: 1;
    }

    .search-bar {
        max-width: 450px;
        order: 2;
        width: 100%;
        margin: 10px 10px;
    }

    .hamburger {
        display: block;
        margin-left: 15px;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        display: none;
        padding: 10px 30px;

    }

    .mobile-nav.active {
        display: flex;
    }
}

/* Additional adjustments for very small screens */
@media (max-width: 500px) {
    .navbar {
        padding: 10px 15px;
    }

    .logo {
        font-size: 20px;
    }

 

    .sIcon {
        font-size: 18px;
    }

    .cart-icon .cIcon {
        font-size: 18px;
    }

    .cart-quantity {
        font-size: 10px;
    }
}