/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

}

.product-list {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  gap: 20px;
}
@media (max-width: 768px) {
  .app {
      padding: 0px;

    }
.product-list {

    padding: 2rem;

  }
}

@media (max-width: 480px) {
 
}

.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.cart {
  margin-top: 20px;
}